{% extends 'new_base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}
{% block description %}"«Kredibest» — крупнеший справочник сайтов в сфере микрокредитования. Мы предоставляем нашим клиентам обширную, легкую для понимания и всегда актуальную информацию о предоставлению займов онлайн и в отделениях."{% endblock %}
{% block ogdescription %}"«Kredibest» — крупнеший справочник сайтов в сфере микрокредитования. Мы предоставляем нашим клиентам обширную, легкую для понимания и всегда актуальную информацию о предоставлению займов онлайн и в отделениях."{% endblock %}
{% block title %}О нас {% endblock %}
{% block ogtitle %}О нас {% endblock %}
{% block select-about %}
    nev-select
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row offset-xl-2 col-xl-8 offset-lg-1 col-lg-10 col-md-12 offset-md-0 about">
            <div class="about-title">
                <h1> О нас </h1>
            </div>
            <p>«Kredibest» — крупнеший справочник сайтов в сфере микрокредитования. Мы предоставляем нашим клиентам обширную, легкую для понимания и всегда актуальную информацию о предоставлению займов онлайн и в отделениях.
            Наша команда одна из первых в Украине запустила онлайн сервис с базой кредиторов. Больше не нужно искать выгодный займ - мы сделали все за вас. Принимайте решение и получайте деньги в течении нескольких минут.  Финансы вы можете получить удобным для себя способом – на карту или в отделении компании.</p>
            <p>В «Kredibest» — вы не платите за пользование сайтом, все кредиторы в открытом доступе.</p>
            <p>В «Kredibest» — можно получить деньги до зарплаты в любое время и в любом месте</p>
            <p>В «Kredibest» — самая актуальная информация о всех акциях, бонусах и промокодах.</p>
            <p>В «Kredibest» — есть возможность взять первый займ без %.</p>
            <p>«Kredibest» — ВСЕГДА ПОМОЖЕТ В ЛЮБОЙ СИТУАЦИИ</p>
        </div>
    </div>
{% endblock %}