{% load static %}
<html>
    <head>
        <title>Kredi best</title>

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

		<link rel="stylesheet" href="{% static 'css/base.css' %}">

		<link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">

		<script src="{% static 'js/base.js' %}"></script>

		<!-- Smartsupp Live Chat script -->
		<script type="text/javascript">
		var _smartsupp = _smartsupp || {};
		_smartsupp.key = '7bd045adc5599adadc2c24186b65970804e047e5';
		window.smartsupp||(function(d) {
		  var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
		  s=d.getElementsByTagName('script')[0];c=d.createElement('script');
		  c.type='text/javascript';c.charset='utf-8';c.async=true;
		  c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
		})(document);
		</script>
    </head>
	    <body onload="notification([{% for x in notifications %}'{{ x.position|escapejs }} {{ x.get_company_name_display|escapejs }} {{ x.company_name|escapejs }} {{ x.text|escapejs }}',{% endfor %}])">
	    <div class="page-header">
	    	<div style="margin-left: 20%; float: left;">
		    	<h1><a href="/">Kredi best</a></h1>
		    	{% if adv_1 is not None %}
		    		<div class="adv-1">
		    			<a href="{{ adv_1.ref_url }}"><img class="adv-1-pic" src="{% static "img/adv/"|add:adv_1.img_name|add:".png" %}"/></a>
		    		</div>
		    	{% endif %}
		    </div>
	    </div>
	    <div class="main-content">
	        {% block content %}
	        	<div class="base-str">
	        		<h1 class="post-notification-one">Внимание! Для 100% одобрения отправьте минимум 3 заявки
					Больше заполненных заявок — выше шанс получить деньги
					</h1>
					<br>
		        	<h1 class="post-notification-two">Для оформления заявки необходимо перейти на сайт подходящей кредитной организации, открываются в новом окне!
					</h1>
		            {% for post in posts %}
					<div class="post">
						<div class="post-title">
					    	<p>{{ post.title }}</p>
					    </div>

					    <div class="post-img">
					    	<a href="{{ post.ref_url }}" target="_blank"><img class="prev-img" src="{% static "img/prev/"|add:post.title|add:".png" %}"/></a>
					    </div>

					    <div class="post-rating">
					    	<span class="stars" data-stars={{ post.raiting }}>XXXXX</span>
					    </div>

					    <div class="post-button">
							<a href="{{ post.ref_url }}" target="_blank"><button class="post-button-two"><span>Перейти</span></button></a>
					    </div>

						<div class="post-amount">
							Сумма, (грн.) 
					    	<span class="post-green">{{ post.amount }}</span>
					    </div>

					    <div class="post-term">
					    	Срок, (дн.)
					    	<span class="post-green">{{ post.term }}</span>
					    </div>
					    
					    <div class="review-time">
					    	Рассмотрение
					    	<span class="post-green">{{ post.review_time }} минут</span>
					    </div>

					    <div class="post-approval-percent">
					    	% Одобрений 
					   		<span class="post-green">{{ post.approval_percent }}</span>
					    </div>

					    <div class="post-addition">
					    	<span>{{ post.addition }}</span>
					    </div>
					</div>
				    {% endfor %}
			    </div>
			{% endblock %}
		</div>
		<div class="left-block">
	        {% if adv_2 is not None %}
	        	<div class="adv-2">
		    		<a href="{{ adv_2.ref_url }}" target="_blank"><img class="adv-2-pic" src="{% static "img/adv/"|add:adv_2.img_name|add:".png" %}"/></a>
		    	</div>
		    {% endif %}
		    <div class="top-table">
		    	<table>
				    <tbody>
				    	<p style="font-size: 20px; margin-left: 50px">Топ 5 компаний</p>
				        {% for r in top %}
				            <tr>
				            	<td><a href="{{ r.ref_url }}" target="_blank"><img class="prev-img" src="{% static "img/prev/"|add:r.title|add:".png" %}"</td></a>
				                <td>
				                	<a href="{{ r.ref_url }}" target="_blank"><p align=center>{{r.title}}</p></a>
				                	<span class="stars" data-stars={{ r.raiting }}>XXXXX</span>
				                	<p align=center style="font-size: 14px; margin-left: 10px; margin-top: 10px">{{ r.reviews_count }} отзывов</p>
				                </td>
				            </tr>
				        {% endfor %}
				    </tbody>
				</table>
			</div>
		    {% if adv_3 is not None %}
		    	<div class="adv-3">
		    		<a href="{{ adv_3.ref_url }}" target="_blank"><img class="adv-3-pic" src="{% static "img/adv/"|add:adv_3.img_name|add:".png" %}"/></a>
		    	</div>
		    {% endif %}
	    </div>
	<footer>
		<a class="footer-cont" href="">Контакты</a>
		<a class="footer-o-nas" href="">О нас</a>
		<a class="footer-rev" href="/reviews/">Отзывы</a>
		<a class="footer-lic" href="/license/">Лицензионное соглашение</a>
	</footer>
	</body>
</html>