{% extends 'new_base.html' %}
{% load static %}
{% block select-license %}
	nev-select
{% endblock %}
{% block head %}
	<link rel="stylesheet" href="{% static 'css/license.css' %}">
{% endblock %}
{% block title %}Лицензия {% endblock %}
{% block content %}
	<div class="container-fluid">
		<div class="row offset-xl-2 col-xl-8 offset-lg-1 col-lg-10 col-md-12 offset-md-0 license">
			<div class="license-title">
				<h1> Лицензия </h1>
			</div>
			<p>Требования к заемщику</p>
			
			<p>Наличие гражданства Украины (требуется паспорт гражданина). Необходимо чтобы заёмщику было как минимум 18 полных лет.Кредитная история не учитывается при предоставлении займа.</p>
			
			<p>Условия получения займа</p>
			
			<p>Процент за пользование займом (процентная ставка) находится в пределах от 120 до 916 процентов годовых. Если происходит нарушение сроков выплаты, то начисляется неустойка, размер которой равен приблизительно 0,1% от суммы просрочки в день.</p>
			
			<p>Пример расчета займа</p>
			
			<p>Soscredit.ua - при взятии в долг 500 грн. на 3 месяцев с продлением, комиссия 445,5 грн., общие затраты на займ составляют 945.50 грн., APR 482%.</p>
			<p>Miloan.ua - при взятии в долг 3000 грн. на 3 месяцев с продлением, комиссия 3510 грн., общие затраты на займ составляют 6510 грн., APR 619%</p>
			<p>Mycredit.ua - при взятии в долг 3000 грн. на 3 месяцев с продлением, комиссия 2671 грн., общие затраты на займ составляют 5671 грн., APR 481%.</p>
			<p>Topcredit.org.ua - при взятии в долг 1000 грн. на 3 месяцев с продлением, комиссия 1325 грн., общие затраты на займ составляют 2325 грн., APR 693%.</p>
			<p>Vashagotivochka.ua - при взятии в долг 5000 грн. на 3 месяцев с продлением, комиссия 9000 грн., общие затраты на займ составляют 14000 грн., APR 916%.</p>
			<p>KF.ua - при взятии в долг 10000 грн. на 6 месяцев, комиссия 8775.90 грн., общие затраты на займ составляют 18775.9 грн., APR 259%.</p>
			<p>Bistrozaim.ua - при взятии в долг 10000 грн. на 3 месяцев, комиссия 18000 грн., общие затраты на займ составляют 28000 грн., APR 915%.</p>
			<p>Creditkasa.com.ua - при взятии в долг 4000 грн. на 3 месяцев, комиссия 5610 грн., общие затраты на займ составляют 9610 грн., APR 730%.</p>
			<p>Alexcredit.com.ua - при взятии в долг 5000 грн. на 3 месяцев с продлением, комиссия 5864 грн., общие затраты на займ составляют 10864 грн., APR 620%.</p>
			<p>Cashinsky.ua - при взятии в долг 1000 грн. на 3 месяцев, комиссия 1661.70 грн., общие затраты на займ составляют 2661.70 грн., APR 851%.</p>
			<p>Sgroshi.com.ua - при взятии в долг 3000 грн. на 3 месяцев, комиссия 5040 грн., общие затраты на займ составляют 8040 грн., APR 860%.</p>
			<p>Cashup.com.ua - при взятии в долг 1000 грн. на 3 месяцев, комиссия 1061.70 грн., общие затраты на займ составляют 2061.70 грн., APR 547.5%.</p>
			
			
			<p>Последствия неуплаты заемных средств</p>
			
			<p>В случае несвоевременной уплаты заемщиком платежей по займу, включая начисленные проценты, в установленный срок, кредитор вправе требовать неустойку, за время просрочки платежа по кредиту. Кредитные организации предоставляют дополнительные три дня, для частичного или полного погашения кредита, с целью помощи кредиторам в форсмажерных ситуациях.</p>
			
			<p>Однако если заемщик не вносит необходимых платежей, кредитная организация предупреждает заемщика, используя любой доступный канал связи. Если кредитная организация не может связаться с заемщиком, заемщику начисляется штраф, в среднем штраф составляет 0,1% от общей суммы займа (данные условия уточняйте пожалуйста в момент подписания договора). При существенной просрочке платежей сведения могут быть переданы в реестр должников, а сама задолженность передана в коллекторам. Пожалуйста, платите ваши платежи по кредиту во время, при невозможности своевременной оплаты, сообщите об этом в кредитную организацию, у которой вы брали кредит. Информация о дате погашения кредита, доступна в момент подписания договора. Чем больше вы берете денежных средств в долг, своевременно возвращая их, тем лучше ваша кредитная история. А это значит, что вы сможете получать больше денег под меньший процент и на более долгий срок. Иными словами на более выгодных условиях.</p>
			<p>Последствия, наступающие при неуплате заемных средств
				Если кредитор не уплачивает кредитной организации сумму кредита и проценты за использование кредита в оговоренный срок, кредитная организация начисляет неустойку за просрочку выплаты по кредиту. Обычно, кредитные организации предоставляют дополнительно 3 рабочих дня, чтобы кредитор смог внести очередной платеж, либо выплатить сумму кредита полностью, на случай непредвиденной задержки, связанной с безналичным переводом денежных средств. Если кредитная организация не получает оговоренный в договоре платеж в срок, она связывается с кредитором и напоминает о последствиях, наступающих при неуплате. Если длительное время не удается связаться с кредитором и платежи по кредиту не поступают, кредитная организация начислит денежный штраф, размер которого обычно равен 0,1% от суммы кредита, точный размер штрафов за просрочку следует уточнять при подписании договора на оказание кредитных услуг.
			Следует помнить, что в случае несоблюдения сроков погашения кредита, данные о долге могут быть переданы в реестр должников и далее в коллекторские организации. Настоятельно рекомендуется вносить платежи вовремя, при возникновении непредвиденных ситуация, связанных с внесением платежей, немедленно связываться с кредитной организацией, предоставившей кредит. О сроках внесения платежей можно узнать при подписании договора на оказание кредитных услуг в каждой конкретной организации. В случае погашения кредита в срок (или раньше срока, если это предусмотрено договором), Вы формируете себе положительную кредитную история, которая поможет Вам в дальнейшем при получении кредитов на более крупные суммы. Сайт не оказывает финансовых услуг и не взымает денежные средства за предоставленную информацию.</p>
			
			
			<p>Лицензии кредитных организаций</p>

			<p>Moneyveo - №105 от 21.03.2013 | KF.UA - №1018 от 11.04.18 | Dinero - №941 от 19.09.2017 | Alexcredit - №930 от 08.08.2017 | Forzacredit - №1009 от 27.03.2018 | Mycredit - №146 от 20.10.2015 | SOS Credit - №163 от 14.01.2016 | Topcredit - №137 от 09.04.2015 | Miloan - №163 от 26.01.2017 | Creditkasa - №116 от 01.08.2013 | Cashinsky - №917 от 11.07.2017 | ВашаГотiвочка - №906 от 30.05.2017 | Быстрозайм - №118 от 24.09.2013 | ШвидкоГроші - №438 от 28.02.2017 | Євро Гроші - №177 от 21.07.2016 | Море Грошей - №128 от 14.01.2016 | СreditPlus - №870 от 28.02.2017 | Crediton - №153 от 31.12.2015 | Credit365 - №877 от 18.05.2017 | MoneyBOOM - №126 от 15.05.2014	Soscredit.ua - №163 Miloan.ua - №2843 Mycredit.ua - №146 Topcredit.org.ua - №137 Vashagotivochka.ua - №84 KF.ua - №41 Cashup.com.ua - №782 Sgroshi.com.ua - №78 Bistrozaim.ua - №118 Creditkasa.com.ua - №116 Alexcredit.com.ua - №930 Cashinsky.ua - №917 Moneyveo.ua - №888 Dinero.com.ua - №41350844</p>
			<p>Кредит Маркет онлайн. Займ на карту от Сredit Plus ООО «АВЕНТУС УКРАИНА»; ЕГРПОУ 41078230; г. Киев, ул. Сурикова 3А</p>
			<p>Кредит на карту без проверки кредитной истории от SOS Credit ООО «СОС Кредит Холдинг Б.В.»; ЕГРПОУ 39487128; г. Киев, ул. Красногвардейская, 1В</p>
			<p>Кредит онлайн на карту без отказа банк кредит от ШвидкоГрошіООО «ПОТРЕБИТЕЛЬСКИЙ ЦЕНТР»; ЕГРПОУ 37356833; г. Киев, ул. Саксаганского, 133-А</p>
			<p>Кредитмаркет деньги на карту без звонков в CreditOn ООО «ДЖЕНЕСИС ФИНАНС»; ЕГРПОУ 16103275; г. Киев, пр. Степана Бандеры, 8</p>
			<p>Кредиты онлайн на банковскую карту от БыстроЗайм ООО «СЛУЖБА МГНОВЕННОГО КРЕДИТОВАНИЯ»; ЕГРПОУ 38839217; г. Запорожье, ул. Сорок лет Советской Украины, 39-А</p>
			<p>Кредит онлайн на карту круглосуточно Украина в Miloan ООО «МИЛОАН»; ЕГРПОУ 16103409; г. Киев, ул. В. Черновола, 12</p>
			<p>Взять кредит онлайн на карту мгновенно от компании Море Грошей ООО «КРЕДИТНОЕ УЧРЕЖДЕНИЕ «КРЕДИТ КОМЕРЦ»; ЕГРПОУ 76554984; г. Киев, ул. Радищева, 12</p>
			<p>Онлайн кредит на на карточку. Займ онлайн на карту от ЕвроГрошiООО «КРЕДИТНОЕ УЧРЕЖДЕНИЕ «ЕВРОПЕЙСКАЯ КРЕДИТНАЯ ГРУППА»; ЕГРПОУ 40203427; г. Киев, ул. Хорива, 1А</p>
			<p>Кредити гроші онлайн. Кредити готівкою без відказу від компанії Pozichka ООО «ИНФИНАНС»; ЕГРПОУ 76539881; г. Киев, ул. Жилянская, 41</p>
			<p>Кредити швидко. Гроші в кредит до зарплати от CashMe ООО «ФИНАНСОВАЯ КОМПАНИЯ «НИКО КАПИТАЛ»; ЕГРПОУ 99857342; г. Киев, ул. Антоновича, д. 176</p>
			<p>Кредит на карту срочно без отказа в ГотiвочкаООО «СМАРТ ФИНЭКСПЕРТ»; ЕГРПОУ 65437751; г. Николаев, ул. Декабристов, 38А</p>
			<p>Быстрый кредит онлайн на карту Украина от KLT CreditООО «КЛТ КРЕДИТ»; ЕГРПОУ 40076206; г. Киев, пр. Соборности (Воссоединения), 15</p>
			<p>Онлайн кредит на карту без отказа круглосуточно в Credit UpООО «ВЕЛЛФИН»; ЕГРПОУ 39952398; г. Киев, ул. Героев Севастополя, 48</p>
			<p>Кредит на карту онлайн без отказа в Idea BankCash PointООО «КЭШ ПОИНТ»; ЕГРПОУ 98533217; г. Львов, ул. Газовая, 17</p>
			<p>Моментальный займ на карту без проверок Credit 365ООО «АИА ФИНАНС ГРУПП»; ЕГРПОУ 55439877; г. Киев, ул. Михайловская, 15/1</p>
			<p>Кредит онлайн на карту без отказа. Микрозайм от Alex CreditООО «АЛЕКСКРЕДИТ»; ЕГРПОУ 41346335; г. Днепр, ул. Стартовая, 9-А</p>
			<p>Кредит онлайн на карту с плохой кредитной историей от MyCreditOOO «1БЕЗОПАСНОЕ АГЕНТСТВО НЕОБХОДИМЫХ КРЕДИТОВ»; ЕГРПОУ 39861924; г. Киев, бул. Тараса Шевченко, 11</p>
			<p>Cashup.com.ua - г. Киев, ул. Еспланадна, 34/2, оф.18, служба поддержки: +38-(097)-571-78-78, +38-(095)-571-78-78, +38-(073)-571-78-78, +38-(044)-227-52-70</p>
			<p>Sgroshi.com.ua - ул. Академика Ефремова (Командарма Уборевича) 1, служба поддержки: 0-800-50-10-20 (звонок бесплатный)</p>
			<p>Cashinsky.ua - 03083, г. Киев, проспект Науки, д. 50, служба поддержки: support@cashinsky.com.ua, +38(044)-364-06-46</p>
			<p>Moneyveo.ua - 01015, г. Киев, ул. Лейпцигская, дом 15 Б, первый этаж, служба поддержки: support@moneyveo.ua, 0-800-21-9393 (бесплатно с любых телефонов по Украине), KS +38(096)-320-9393, MTS +38(050)-320-9393, Life +38(093)-320-9393</p>
			<p>Dinero.com.ua - 04116, г. Киев, ул. Старокиевская, 10-Г, служба поддержки: info@dinero.com.ua, 067-326-2233, 073-326-2233, 050-326-2233</p>
			<p>Sgroshi.com.ua - ул. Академика Ефремова (Командарма Уборевича) 1, служба поддержки: 0-800-50-10-20 (звонок бесплатный)</p>
			<p>Cashup.com.ua - г. Киев, ул. Еспланадна, 34/2, оф.18, служба поддержки: +38-(097)-571-78-78, +38-(095)-571-78-78, +38-(073)-571-78-78, +38-(044)-227-52-70</p>
			<p>Наш адрес - Латвия, Тукумс, Ул. Лауку 9, LV3801, +38 050 74 39 089</p>
		</div>
	</div>
{% endblock %}