{% extends 'new_base.html' %}
{% load static %}
{% block select-license %}
nev-select
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/license.css' %}">
{% endblock %}
{% block title %}Лицензия {% endblock %}
{% block content %}
	<div class="container-fluid">
		<div class="row offset-xl-2 col-xl-8 offset-lg-1 col-lg-10 col-md-12 offset-md-0 license">
			<div class="license-title">
                <h1> Лицензия </h1>
            </div>
			<p>Требования к заемщику</p>
			
			<p>Наличие гражданства Украины (требуется паспорт гражданина). Необходимо чтобы заёмщику было как минимум18полныхлет.Кредитная история не учитывается при предоставлении займа.</p>
			
			
			<p>Условия получения кредита</p>
			
			<p>Процент за пользование займом (процентная ставка) находится в пределах от 120 до 700 процентов годовых. Если происходит нарушение сроков выплаты, то начисляется неустойка, размер которой приблизительно равен 0,1% от суммы просрочки в день.</p>
			
			<p>Пример расчета кредита</p>
			
			<p>Клиент берет займ размером 1000 гривен на срок 30 дней, процент за использование кредита от 0% до 60% в месяц. Сумма, подлежащая возврату после 30 дней, составит от 1000 (при нулевой процентной ставке) до 1600 грн.</p>
			
			
			<p>Последствия неуплаты заемных средств</p>
			
			<p>В случае несвоевременной уплаты заемщиком платежей по займу, включая начисленные проценты, в установленный срок, кредитор вправе требовать неустойку, за время просрочки платежа по кредиту. Кредитные организации предоставляют дополнительные три дня, для частичного или полного погашения кредита, с целью помощи кредиторам в форсмажерных ситуациях.</p>
			
			<p>Однако если заемщик не вносит необходимых платежей, кредитная организация предупреждает заемщика, используя любой доступный канал связи. Если кредитная организация не может связаться с заемщиком, заемщику начисляется штраф, в среднем штраф составляет 0,1% от общей суммы займа (данные условия уточняйте пожалуйста в момент подписания договора). При существенной просрочке платежей сведения могут быть переданы в реестр должников, а сама задолженность передана в коллекторам. Пожалуйста, платите ваши платежи по кредиту во время, при невозможности своевременной оплаты, сообщите об этом в кредитную организацию, у которой вы брали кредит. Информация о дате погашения кредита, доступна в момент подписания договора. Чем больше вы берете денежных средств в долг, своевременно возвращая их, тем лучше ваша кредитная история. А это значит, что вы сможете получать больше денег под меньший процент и на более долгий срок. Иными словами на более выгодных условиях.</p>
			
			
			<p>Лицензии кредитных организаций</p>
			
			<p>Moneyveo - №105 от 21.03.2013 | KF.UA - №1018 от 11.04.18 | Dinero - №941 от 19.09.2017 | Alexcredit - №930 от 08.08.2017 | Forzacredit - №1009 от 27.03.2018 | Mycredit - №146 от 20.10.2015 | SOS Credit - №163 от 14.01.2016 | Topcredit - №137 от 09.04.2015 | Miloan - №163 от 26.01.2017 | Creditkasa - №116 от 01.08.2013 | Cashinsky - №917 от 11.07.2017 | ВашаГотiвочка - №906 от 30.05.2017 | Быстрозайм - №118 от 24.09.2013 | ШвидкоГроші - №438 от 28.02.2017 | Євро Гроші - №177 от 21.07.2016 | Море Грошей - №128 от 14.01.2016 | СreditPlus - №870 от 28.02.2017 | Crediton - №153 от 31.12.2015 | Credit365 - №877 от 18.05.2017 | MoneyBOOM - №126 от 15.05.2014</p>
		</div>
	</div>
{% endblock %}