{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- SEO -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
    <meta name="description" content="KREDI.BEST сервис подбора выгодного займа онлайн без отказа Круглосуточно, без справок и проверок от 0% ставка моментальная выдача на карту или наличными."> 
    <meta name="title" content="Займ онлайн на карту мгновенно Украина | KREDI.BEST">
    <meta property="og:url" content="kredi.best">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Займ онлайн на карту мгновенно Украина | KREDI.BEST">
    <meta property="og:description" content="KREDI.BEST сервис подбора выгодного займа онлайн без отказа Круглосуточно, без справок и проверок от 0% ставка моментальная выдача на карту или наличными.">
    <meta property="og:image" content="{% static 'favicon.ico' %}">
    <meta property="og:site_name" content="kredi.best">
    <meta property="og:locale" content="ru_RU">
     <!-- title -->
    <title>{% block title %}{% endblock %}Займ онлайн на карту мгновенно Украина | KREDI.BEST</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/><link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/new_base.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154426177-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-154426177-1');
    </script>
    <!-- Smartsupp Live Chat script -->
    <script type="text/javascript">
    var _smartsupp = _smartsupp || {};
    _smartsupp.key = '7bd045adc5599adadc2c24186b65970804e047e5';
    window.smartsupp||(function(d) {
    var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
    s=d.getElementsByTagName('script')[0];c=d.createElement('script');
    c.type='text/javascript';c.charset='utf-8';c.async=true;
    c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
    })(document);
    </script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-W549S2G');</script>
    <!-- End Google Tag Manager -->
    <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
    <script src="{% static 'js/new_base.js' %}"></script>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W549S2G"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- BOOTSTRAP -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- HEADER -->
    <nav class="navbar navbar-expand-lg navbar-light offset-xl-2 col-lg-10 offset-lg-1 col-xl-8 col-md-12 offset-md-0 col-sm-12 offset-sm-0 col-xs-12 offset-xs-0 row">
      <button class="navbar-toggler first-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent20"
      aria-controls="navbarSupportedContent20" aria-expanded="false" aria-label="Toggle navigation">
      <div class="animated-icon1"><span></span><span></span><span></span></div>
      </button>
      <div class="navbar-brand col"><div><a class="brand" href="/">KREDI<a class="brand-left" href="/" style="color: #e67e22;">.BEST</a></a></div></div>
      <div class="collapse navbar-collapse col" style="padding-left:0px; padding-right:0px" id="navbarSupportedContent20">
        <div class="navbar-nav">
          <div class="verticalLine nav-item d-none d-xl-block col-1"></div>
          <div class="nav-item col-xl-4 nav-number">
            <div class="nav-counter nav-item" href="#">
              <p class="nav-counter-number">50 000</p>
              <p class="nav-counter-text">человек уже взяли кредит</p>
            </div>
          </div>
          <div class="nav-item col-xl-2 col-lg-2 col-md-12 col-xs-12 col-sm-12">
            <a class="nav-link {% block select-about %}{% endblock %} nav-item-hovered" href="/about">О нас</a>
          </div>
          <div class="nav-item col-xl-2 col-lg-2 col-md-12 col-xs-12 col-sm-12">
            <a class="nav-link {% block select-review %}{% endblock %} nav-item-hovered" href="/review">Отзывы</a>
          </div>
          <div class="nav-item col-xl-2 col-lg-2 col-md-12 col-xs-12 col-sm-12" style="min-width:130px;">
            <a class="nav-link {% block select-license %}{% endblock %} nav-item-hovered" href="/license">Лицензия</a>
          </div>
          <div class="nav-item col-xl-4 col-lg-3 col-md-12 col-xs-12 col-sm-12">
            <a href="https://rdr.salesdoubler.com.ua/in/offer/1436?aid=23673" class="nav-link header-button button-animate" href="#" value="Оформить заявку"></a>
          </div>
        </div>
      </div>
    </nav>
    <main>
      {% block content %}
        <!-- TOP FIVE -->
        <div class="container-fluid">
          <div class="row offset-xl-2 col-xl-8 offset-lg-1 col-lg-10 col-md-12 offset-md-0">
            <div class="col-xl-6 col-lg-6">
              <div class="top-five">
                <div class="col-xl-12 top-five-notification-text">
                  <h1>Топ <a style="color: #e67e22;">5</a> компаний</h1>
                </div>
                <div style="margin-right: 0px; margin-left: 0px;" class="row">
                  {% for top_five_item in top_five %}
                    {% if top_five_item.title == top_five.0.title %}
                      <div class="col-12">
                        <div style="max-width: 900px!important" class="top-five-item">
                        {% else %}
                          <div class="col top-five-item">
                          {% endif %}
                          <div>
                            <a href="{{ top_five_item.ref_url }}" target="_blank">
                            <img src="/media/{{ top_five_item.main_photo }} " alt="{{ compony.raiting }}"></a>
                            <span class="stars" data-stars={{ compony.raiting }}>XXXXX</span>
                            <p>{{ top_five_item.reviews_count }} отзывов</p>
                          </div>
                          {% if top_five_item.title == top_five.0.title %}
                          </div>
                        {% endif %}
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <!-- NOTIFICATION -->
              <div class="notification col-lg-5 offset-lg-1 col-xl-5 offset-xl-1">
                <div class="notification-text"><p><a style="color: #e67e22;">Внимание!</a> Для 100% одобрения отправьте минимум 3 заявки</p><p>Больше заполненных заявок — выше шанс получить деньги</p>
                <p style="margin-top: 20px">Для оформления заявки необходимо перейти на сайт</p><p> подходящей кредитной организации, открываются в новом окне!</p></div>
              </div>
            </div>
          </div>
          <!-- COMPONY -->
          <div class="compony-list container-fluid">
            <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 row">
              {% for compony in componys %}
                <div class="col-xl-3 col-lg-4 compony">
                  <div class="compony-content">
                    <div class="compony-header">
                      <a href="{{ compony.ref_url }}"><img src="/media/{{ compony.main_photo }}" alt="{{ compony.title }}"></a>
                      <span class="stars" data-stars={{ compony.raiting }}>XXXXX</span>
                    </div>
                    <div class="compony-parameters">
                      <div>
                        <p>Сумма, (грн.)</p>
                        <p class="compony-parameters-colored-text">до {{ compony.amount }}</p>
                      </div>
                      <div>
                        <p>Срок, (дн.)</p>
                        <p class="compony-parameters-colored-text">{{ compony.term }}</p>
                      </div>
                      <div>
                        <p>Рассмотрение</p>
                        <p class="compony-parameters-colored-text">{{ compony.review_time }} минут</p>
                      </div>
                      <div>
                        <p>% одобрения</p>
                        <p class="compony-parameters-colored-text">{{ compony.approval_percent }}%</p>
                      </div>
                      <p class="compony-parameters-addition">{{ compony.addition }}</p>
                      <a class="compony-button button-animate" href="{{ compony.ref_url }}" value="ОФОРМИТЬ"></a>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        {% endblock %}
      </main>
      <!-- FOOTER -->
      <footer>
        <div class="col-xl-4 offset-xl-4 col-lg-6 offset-lg-3 row">
          <a href="/" class="col" >Главная</a>
          <a href="/about" class="col" >О нас</a>
          <a href="/review" class="col" >Отзывы</a>
          <a href="/license" class="col" >Лицензия</a>
        </div>
        <p>Домашняя страница kredi.best не является кредитором и не выдает кредиты.У всех кредиторов, которым приведено сравнение, есть соответствующая лицензия кредитного учреждения.</p>
        <p>Наш телефон: +38 050 74 39 089 (Viber)</p>
        <p>© 2010-2019 Все права защищены</p>
      </footer>
    </body>
  </html>