{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Document</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/><link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/new_base.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
  </head>
  <body>
    <!-- BOOTSTRAP -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- HEADER -->
    <!-- ПЕРЕДЕЛАТЬ С COL -->
    <header class="container-fluid">
      <div class="col-lg-10 offset-lg-1 d-flex justify-content-between mb-3">
        <div class="navbar-brand"><a class="brand" href="#">KREDI<a class="brand" href="#" style="color: #e67e22;">.BEST</a></a></div>
        <div class="verticalLine nav-item p-2 bd-highlight"></div>
        <div class="nav-item p-2 bd-highlight">
          <div class="nav-counter" href="#"><p class="nav-counter-number">50 000</p><p class="nav-counter-text">человек уже взяли кредит</p></div>
        </div>
        <div class="nav-item p-2 bd-highlight">
          <a class="nav-link" href="#">О нас</a>
        </div>
        <div class="nav-item p-2 bd-highlight">
          <a class="nav-link nev-select" href="#">Блог</a>
        </div>
        <div class="nav-item p-2 bd-highlight">
          <a class="nav-link" href="#">Контакты</a>
        </div>
        <div class="nav-item">
          <a class="nav-link button" href="#">Оформить заявку</a>
        </div>
      </div>
    </header>
    <main>
      {% block content %}
      <!-- TOP FIVE -->
        <div class="top-five">
          <div class="col-lg-10 offset-lg-1">
            <div class="row">
              <div class="col-lg-4 horizontalline-left"></div>
              <div class="col-lg-4 notification-text">
                <p>Топ <a style="color: #e67e22;">5</a> компаний</p>
              </div>
              <div class="col-lg-4 horizontalline-right"></div>
            </div>
          </div>
          <div style="margin-right: 0px; margin-left: 0px;" class="row">
            <div class="col-lg-10 offset-lg-1 row">
              {% for top_five_item in top_five %}
                <div class="col top-five-item">
                  <div>
                    <a href="{{ top_five_item.ref_url }}" target="_blank">
                    <img src="/media/{{ top_five_item.main_photo }}"></a>
                    <span class="stars" data-stars={{ compony.raiting }}>XXXXX</span>
                    <p>{{ top_five_item.reviews_count }} отзывов</p>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <!-- NOTIFICATION -->
        <div class="notification container-fluid">
          <div class="col-lg-10 offset-lg-1">
            <div class="row">
              <div class="col-lg-2 horizontalline-left"></div>
              <div class="col-lg-8 notification-text"><p><a style="color: #e67e22;">Внимание!</a> Для 100% одобрения отправьте минимум 3 заявки</p> <p>Больше заполненных заявок — выше шанс получить деньги</p>
              <p style="margin-top: 20px">Для оформления заявки необходимо перейти на сайт подходящей кредитной организации, открываются в новом окне!</p></div>
              <div class="col-lg-2 horizontalline-right"></div>
            </div>
          </div>
        </div>
        <!-- COMPONY -->
        <div class="compony-list container-fluid">
          <div class="col-lg-8 offset-lg-2 row">
            {% for compony in componys %}
              <div class="col-lg-3 compony">
                <div class="compony-content">
                  <div class="compony-header">
                    <a href="{{ compony.ref_url }}"><img src="/media/{{ compony.main_photo }}"></a>
                    <span class="stars" data-stars={{ compony.raiting }}>XXXXX</span>
                  </div>
                  <div class="compony-parameters">
                    <div>
                      <p>Сумма, (грн.)</p>
                      <p class="compony-parameters-colored-text" href>до {{ compony.amount }}</p>
                    </div>
                    <div>
                      <p>Срок, (дн.)</p>
                      <p class="compony-parameters-colored-text" href>{{ compony.term }}</p>
                    </div>
                    <div>
                      <p>Рассмотрение</p>
                      <p class="compony-parameters-colored-text" href>{{ compony.review_time }} минут</p>
                    </div>
                    <div>
                      <p>% одобрения</p>
                      <p class="compony-parameters-colored-text" href>{{ compony.approval_percent }}%</p>
                    </div>
                    <p class="compony-parameters-addition">{{ compony.addition }}</p>
                    <a class="compony-button" href="{{ compony.ref_url }}">ОФОРМИТЬ</a>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endblock %}
    </main>
    <!-- FOOTER -->
    <footer>
      <div class="col-lg-4 offset-lg-4 row">
        <a class="col" >Главная</a>
        <a class="col" >О нас</a>
        <a class="col" >Блог</a>
        <a class="col" >Контакты</a>
      </div>
      <p>© 2010-2019 Все права защищены</p>
    </footer>
  </body>
</html>