{% extends 'new_base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/question.css' %}">
{% endblock %}
{% block description %}"«Kredibest» — крупнеший справочник сайтов в сфере микрокредитования. Мы предоставляем нашим клиентам обширную, легкую для понимания и всегда актуальную информацию о предоставлению займов онлайн и в отделениях."{% endblock %}
{% block ogdescription %}"«Kredibest» — крупнеший справочник сайтов в сфере микрокредитования. Мы предоставляем нашим клиентам обширную, легкую для понимания и всегда актуальную информацию о предоставлению займов онлайн и в отделениях."{% endblock %}
{% block title %}Частые вопросы {% endblock %}
{% block ogtitle %}Частые вопросы {% endblock %}
{% block select-question %}
    nev-select
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row offset-xl-2 col-xl-8 offset-lg-1 col-lg-10 col-md-12 offset-md-0 question">
            <div class="question-title">
                <h1> Частые вопросы </h1>
            </div>
            <h2>Можно ли оформить онлайн кредит на карту без электронной почты?</h2>
            <p>«Исследование кредитных продуктов и процедур оформления кредитов в Украине показало, что МФО требуют указать почту при отправке онлайн-заявки на займ или кредитование. Адрес электронной почты нужен для регистрации в личном кабинете, отправки кредитного договора и помощи в получении кредита.<br></p>

            <h2>Процедура оформления</h2>
            <h3>Процедура оформления срочного кредита на карту очень проста. Можно условно разбить её на несколько этапов:</h3>
            <p>1. На сайте кредитной компании при помощи специального кредитного калькулятора рассчитайте ваш кредит онлайн.</p>
            <p>2. Если условия вас устраивают, пройдите регистрацию и заполняйте заявку на онлайн заем не выходя из дома.</p>
            <p>3. Ожидайте решения, для больше шанса одобрения выберите несколько лучших организаций . В некоторых случаях вам перезвонит менеджер компании. В других система принимает решение автоматически. Так работает, например, Dinero.</p>
            <p>4. Если ваша заявка на онлайн кредит в Украине одобрена, уже через несколько минут вы получите деньги на карту указанную при регистрации.<br></p>

            <h2>Бывают ли беспроцентные кредиты?</h2>
            <p>Да, бывают. Кредитные организации предоставляют беспроцентный кредит под 0% при оформлении первого кредита. При повторном обращении процентная ставка увеличивается.<br></p>

            <h2>Можно ли получить кредит сразу в нескольких МФО?</h2>
            <p>Да, можно. Клиент имеет право оформить несколько займов в различных кредитных компаниях. Например, взять 3000 грн в одном учреждении и столько же в другом. Однако важно вернуть долг вовремя, чтобы не допустить просрочки.<br></p>

            <h2>На какую карту можно оформить кредит?</h2>
            <p>Для того, чтобы оформить и получить кредитные деньги необходимо указать любую банковскую карту Украины.<br></p>

            <h2>Как взять кредит на карту?</h2>
            <p>На сайте kredi.best можно сравнить условия кредитных компаний и подобрать для себя удачную кредитную программу. Мы не являемся кредитором. Мы помогаем сделать выбор в пользу выгодного предложения с минимальной процентной ставкой.<br></p>

            <h3>Если у вас остались вопросы напишите нам в чат, он в правом нижнем углу сайта KREDI.BEST</h3>
        </div>
    </div>
{% endblock %}