{% extends 'new_base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/review.css' %}">
{% endblock %}
{% block description %}"Отзывы о KREDI.BEST, мы онлайн сервис подбора кредитов и займов на вашу банковскую карту в Украине, без справок и поручителей, без процентов, под 0% в месяц, выдача моментальная на наличными или на карту 24 часа в сутки без отказа."{% endblock %}
{% block ogdescription %}"Отзывы о KREDI.BEST, мы онлайн сервис подбора кредитов и займов на вашу банковскую карту в Украине, без справок и поручителей, без процентов, под 0% в месяц, выдача моментальная на наличными или на карту 24 часа в сутки без отказа."{% endblock %}
{% block title %}Отзывы {% endblock %}
{% block ogtitle %}Отзывы {% endblock %}
{% block select-review %}
nev-select
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row offset-xl-2 col-xl-8 offset-lg-1 col-lg-10 col-md-12 offset-md-0">
            <div class="review-title">
                <h1>Отзывы</h1>
            </div>
            <div class="review">
                {% for review in reviews %}
                    <div class="review-item row" itemscope itemtype="http://schema.org/Review">
                        <div class="col-2">
                            <p itemprop="author" class="review-name">{{ review.name }}</p>
                            <a href="{{ review.company_name.ref_url }}"><img src="/media/{{ review.company_name.main_photo }}" alt="{{ review.name }}"></a>
                            <span itemprop="reviewRating" class="stars" data-stars={{ review.company_rating }}>XXXXX</span>
                        </div>
                        <div class="col-10">
                            <p itemprop="reviewBody" class="review-text">{{ review.text }}</p>
                        </div>
                        <div class="col-12">
                            <p class="review-time">{{ review.time|date:"j.n.Y" }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="offset-xl-3 col-xl-6 col-lg-8 offset-lg-2">
                <div class="review-form">
                    <form action="" method="post">
                        <div class="row">
                            <input class="review-form-email col-lg-5 col-xl-5" type="email" name="email" required placeholder="Почта">
                            <input class="review-form-name offset-lg-2 col-lg-5 offset-xl-2 col-xl-5" type="text" name="name" required placeholder="Имя">
                            <textarea class="review-form-text col-lg-12 col-xl-12" name="text" required id="id_text"></textarea>
                            <span class='review-form-company-name col-lg-3 col-xl-3'>{{ form.company_name }}</span>
                            <span class='review-form-company-rating col-lg-4 offset-lg-1 col-xl-4 offset-xl-1'><a>Оценка</a>{{ form.company_rating }}</span>
                            <input class='review-form-submit col-lg-3 offset-lg-1 col-xl-3 offset-xl-1' type="submit" value="Отправить">
                            {% csrf_token %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}